<h1>iDelve Home</h1>
<p>Hello, <%=current_user.email %>!</p>

<ul>
  <li>
    <%= link_to "iAm", idelve_iam_url %>
  </li>

  <li>
    <%= link_to "iWish", idelve_iwish_url %>
  </li>

  <li>
    <%= link_to "iConnect", idelve_iconnect_url %>
  </li>

  <li>
    <%= link_to "Media Upload Test", medium_new_url %>
  </li>



  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
</ul>
