<h1 class="app-title">iWork</h1>
<p style="text-align: center; color: #888888; font-size: 0.5em;">
  igniting Winning Organized Resume Know-how
</p>
<%= link_to "Add a new skill", skill_add_url %>

<% if @skills.blank? %>
<p>Nothing yet</p>
<% else %>
<ul>
  <%= @skills.each do |item| %>
  <li>
     <%=item.description %> (<%=item.id %>)
  </li>
  <% end %>
</ul>
<% end %>

<p><%= link_to "Download my resume", skill_show_resume_url, target: '_blank' %></p>
<p><%= link_to "Home", idelve_home_url %></p>

<div class="footer">
  <a href="<%=root_path%>"><i class="fa fa-home"></i></a>
  <i class="fa fa-share-alt"></i>
  <i class="fa fa-camera"></i>
  <i class="fa fa-cog"></i>
  <i class="fa fa-graduation-cap"></i>
</div>